# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.override.tf
*.override.tf.json
terraform.tfvars
terraform.tfvars.json

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/


.terraform.lock.hcl
*.log
